<aside class="flex w-64 flex-col border-r border-gray-200 dark:border-gray-800 bg-white dark:bg-background-dark text-gray-800 dark:text-gray-200">
    <div class="flex h-full min-h-0 flex-col justify-between p-4">
        <div class="flex flex-col gap-4">
            <div class="flex items-center gap-3 px-3 py-2">
                <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-10" data-alt="Abstract blue geometric logo" style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAWxxP9eHwc0SevhcYfSxOMvFt_DdXPE5FsJIC8lxouie584KHDvEucXGKI5d-52r-UmwG3FuyWTn3vqw_VDh--oK0-pOPXkFavCNkjZCrrJHI6i7j2F1ei5u6oSN8PSaddQtxtVayl4QOqDObcOBZ8iPaJtOcAUQoe-HzxPuwhiWtS7BUTWDz4MEUTaUeKNl5c7-_MpgXXqwnRB-fKB5h7mz1XM5lGbL3Nm9Mro8Y5BOcuMXMblIj76KlcT0nkvRXnMbV413zVLn0");'></div>
                <div class="flex flex-col">
                    <h1 class="text-gray-900 dark:text-white text-base font-bold leading-normal">Project Name</h1>
                    <p class="text-gray-500 dark:text-gray-400 text-sm font-normal leading-normal">.Net Project</p>
                </div>
            </div>
            <nav class="flex flex-col gap-2 pt-4">
                <a class="flex items-center gap-3 px-3 py-2 rounded-lg bg-primary/20 text-primary" href="#">
                    <span class="material-symbols-outlined fill">dashboard</span>
                    <p class="text-sm font-medium leading-normal">Dashboard</p>
                </a>
                <a class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-gray-100 dark:hover:bg-white/10" href="/Category/Index/">
                    <span class="material-symbols-outlined">list</span>
                    <p class="text-sm font-medium leading-normal">Kategoriler</p>
                </a>
                <a class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-gray-100 dark:hover:bg-white/10" href="#">
                    <span class="material-symbols-outlined">bar_chart</span>
                    <p class="text-sm font-medium leading-normal">Analytics</p>
                </a>
                <a class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-gray-100 dark:hover:bg-white/10" href="#">
                    <span class="material-symbols-outlined">settings</span>
                    <p class="text-sm font-medium leading-normal">Settings</p>
                </a>
            </nav>
        </div>
    </div>
</aside>