<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Foodu - Food & Restaurant HTML Template ">

    <!-- ========== Page Title ========== -->
    <title>Foodu - Food & Restaurant HTML Template </title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="/Foodu v1.7/source/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Foodu v1.7/source/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Foodu v1.7/source/assets/css/flaticon-set.css" rel="stylesheet">
    <link href="/Foodu v1.7/source/assets/css/magnific-popup.css" rel="stylesheet">
    <link href="/Foodu v1.7/source/assets/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="/Foodu v1.7/source/assets/css/animate.min.css" rel="stylesheet">
    <link href="/Foodu v1.7/source/assets/css/bootstrap-datepicker3.css" rel="stylesheet">
    <link href="/Foodu v1.7/source/assets/css/validnavs.css" rel="stylesheet">
    <link href="/Foodu v1.7/source/assets/css/helper.css" rel="stylesheet">
    <link href="/Foodu v1.7/source/assets/css/unit-test.css" rel="stylesheet">
    <link href="/Foodu v1.7/source/assets/css/shop.css" rel="stylesheet">
    <link href="/Foodu v1.7/source/assets/css/style.css" rel="stylesheet">
    <link href="/Foodu v1.7/source/style.css" rel="stylesheet">
    <!-- ========== End Stylesheet ========== -->
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

</head>