@model List<ResultAboutDto>

@if (Model != null && Model.Any())
{
    <div class="about-style-two-area default-padding">
        <div class="container">

            @foreach (var item in Model)
            {
                <div class="row align-items-center mb-5">

                    <div class="col-lg-6 col-md-12 mb-4 mb-lg-0">
                        <div class="thumb-style-two wow fadeInLeft">
                            <img src="@item.ImageUrl1" alt="Hakkımızda Görseli" class="img-fluid rounded shadow-lg w-100">
                        </div>
                    </div>

                    <div class="col-lg-5 offset-lg-1 col-md-12">
                        <div class="about-style-two-info wow fadeInRight">
                            <h4 class="sub-heading text-theme">Restoranımıza Hoş Geldiniz</h4>
                            <h2 class="title split-text mb-4">@item.Title1</h2>
                            <p class="text-muted mb-4">
                                @item.Description1
                            </p>
                            <a class="btn btn-theme btn-md animation mb-5" href="/Menu/Index">Menüyü İncele</a>

                            <div class="row">
                                <div class="col-sm-6 mb-3">
                                    <h5 class="font-weight-bold"><i class="fas fa-sun text-warning mr-2"></i> Öğle Yemeği</h5>
                                    <ul class="list-unstyled text-muted mt-2">
                                        <li>Cumartesi ve Pazar</li>
                                        <li>12:00 - 13:30 arası</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <h5 class="font-weight-bold"><i class="fas fa-moon text-primary mr-2"></i> Akşam Yemeği</h5>
                                    <ul class="list-unstyled text-muted mt-2">
                                        <li>Perşembe - Pazar</li>
                                        <li>18:00 - 20:45 arası</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            }

        </div>
    </div>
}