@model List<ResultAboutDto>

@if (Model != null && Model.Any())
{
    <div class="about-style-two-area default-padding">
        <div class="container">

            @foreach (var item in Model)
            {
                <div class="row align-center mb-5">

                    <div class="col-lg-6">
                        <div class="thumb-style-two wow fadeInUp">
                            <img src="@item.ImageUrl1" alt="Hakkımızda Görseli">
                        </div>
                    </div>

                    <div class="col-lg-5 offset-lg-1">
                        <div class="about-style-two-info">
                            <h4 class="sub-heading">Restoranımıza Hoş Geldiniz</h4>
                            <h2 class="title split-text">@item.Title1</h2>
                            <p class="split-text">
                                @item.Description1
                            </p>
                            <a class="btn btn-theme btn-md animation" href="/Menu/Index">Menüyü İncele</a>

                            <ul class="launch-time">
                                <li class="wow fadeInUp">
                                    <h4>Öğle Yemeği</h4>
                                    <ul>
                                        <li>Cumartesi ve Pazar</li>
                                        <li>12:00 - 13:30 arası rezervasyon</li>
                                    </ul>
                                </li>
                                <li class="wow fadeInUp">
                                    <h4>Akşam Yemeği</h4>
                                    <ul>
                                        <li>Perşembe - Pazar</li>
                                        <li>18:00 - 20:45 arası rezervasyon</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            }

        </div>
    </div>
}