<header>
    <!-- Start Navigation -->
    <nav class="navbar mobile-sidenav navbar-sticky navbar-default validnavs navbar-fixed white no-background nav-border">

        <!-- Start Top Search -->
        <div class="top-search">
            <div class="container-xl">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>
        <!-- End Top Search -->


        <div class="container-full d-flex justify-content-between align-items-center">

            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="~/Foodu v1.7/source/assets/img/logo-light.png" class="logo logo-display" alt="Logo">
                    <img src="~/Foodu v1.7/source/assets/img/logo.png" class="logo logo-scrolled" alt="Logo">
                </a>
            </div>
            <!-- End Header Navigation -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">

                <img src="~/Foodu v1.7/source/assets/img/logo.png" alt="Logo">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-times"></i>
                </button>

                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Home</a>
                        <ul class="dropdown-menu">
                            <li><a href="index.html">Home Version One</a></li>
                            <li><a href="index-2.html">Home Version Two</a></li>
                            <li><a href="index-3.html">Home Version Three</a></li>
                            <li><a href="index-4.html">Home Version Four</a></li>
                            <li><a href="index-5.html">Home Version Five</a></li>
                            <li><a href="index-6.html">Home Version Six</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle dark" data-toggle="dropdown">Dark Version</a>
                                <ul class="dropdown-menu">
                                    <li><a href="index-dark.html">Home Version One</a></li>
                                    <li><a href="index-dark-2.html">Home Version Two</a></li>
                                    <li><a href="index-dark-3.html">Home Version Three</a></li>
                                    <li><a href="index-dark-4.html">Home Version Four</a></li>
                                    <li><a href="index-dark-5.html">Home Version Five</a></li>
                                    <li><a href="index-dark-6.html">Home Version Six</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
                        <ul class="dropdown-menu">
                            <li><a href="about-us.html">About Us</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Chef</a>
                                <ul class="dropdown-menu">
                                    <li><a href="chef.html">Chef Style One</a></li>
                                    <li><a href="chef-details.html">Chef Details</a></li>
                                </ul>
                            </li>
                            <li><a href="reservation.html">Reservation</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="404.html">Error Page</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu</a>
                        <ul class="dropdown-menu">
                            <li><a href="food-menu.html">Menu Style One</a></li>
                            <li><a href="food-menu-2.html">Menu Style Two</a></li>
                            <li><a href="food-menu-3.html">Menu Style Three</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
                        <ul class="dropdown-menu">
                            <li><a href="blog-standard.html">Blog Standard</a></li>
                            <li><a href="blog-with-sidebar.html">Blog With Sidebar</a></li>
                            <li><a href="blog-2-colum.html">Blog Grid Two Colum</a></li>
                            <li><a href="blog-3-colum.html">Blog Grid Three Colum</a></li>
                            <li><a href="blog-single.html">Blog Single</a></li>
                            <li><a href="blog-single-with-sidebar.html">Blog Single With Sidebar</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop</a>
                        <ul class="dropdown-menu">
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="shop-single.html">Shop Single</a></li>
                            <li><a href="shop-single-thumb-only.html">Shop Single Two</a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="register.html">Register</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->

            <div class="attr-right">
                <!-- Start Atribute Navigation -->
                <div class="attr-nav attr-box">
                    <ul>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="far fa-shopping-cart"></i>
                                <span class="badge">3</span>
                            </a>
                            <ul class="dropdown-menu cart-list">
                                <li>
                                    <div class="thumb">
                                        <a href="#" class="photo">
                                            <img src="~/Foodu v1.7/source/assets/img/shop/1.png" alt="Thumb">
                                        </a>
                                        <a href="#" class="remove-product">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </div>
                                    <div class="info">
                                        <h6><a href="#">Delica omtantur </a></h6>
                                        <p>2x - <span class="price">$99.99</span></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#" class="photo">
                                            <img src="~/Foodu v1.7/source/assets/img/shop/2.png" alt="Thumb">
                                        </a>
                                        <a href="#" class="remove-product">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </div>
                                    <div class="info">
                                        <h6><a href="#">Omnes ocurreret</a></h6>
                                        <p>1x - <span class="price">$33.33</span></p>
                                    </div>
                                </li>
                                <li class="total">
                                    <span class="pull-right"><strong>Total</strong>: $0.00</span>
                                    <a href="#" class="btn btn-default btn-cart">Cart</a>
                                    <a href="#" class="btn btn-default btn-cart">Checkout</a>
                                </li>
                            </ul>
                        </li>
                        <li class="side-menu">
                            <a href="#">
                                <span class="bar-1"></span>
                                <span class="bar-2"></span>
                                <span class="bar-3"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>

            <!-- Start Side Menu -->
            <div class="side">
                <a href="#" class="close-side"><i class="fas fa-times"></i></a>
                <div class="widget">
                    <div class="logo">
                        <img src="~/Foodu v1.7/source/assets/img/logo-light-2.png" alt="Logo">
                    </div>
                    <p>
                        Arrived compass prepare an on as. Reasonable particular on my it in sympathize. Size now easy eat hand how. Unwilling he departure elsewhere dejection at. Heart large seems may purse means few blind.
                    </p>
                </div>
                <div class="widget address">
                    <div>
                        <ul>
                            <li>
                                <div class="content">
                                    <p>Adres</p>
                                    <strong>Fatih Mah. Harbiye Sok.</strong>
                                </div>
                            </li>
                            <li>
                                <div class="content">
                                    <p>E-Posta</p>
                                    <strong>support@validtheme.com</strong>
                                </div>
                            </li>
                            <li>
                                <div class="content">
                                    <p>İletişim</p>
                                    <strong>+44-20-7328-4499</strong>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="widget newsletter">
                    <h4 class="title">Get Subscribed!</h4>
                    <form action="#">
                        <div class="input-group stylish-input-group">
                            <input type="email" placeholder="Enter your e-mail" class="form-control" name="email">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <i class="fas fa-arrow-right"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="widget social">
                    <ul class="link">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                    </ul>
                </div>

            </div>
            <!-- End Side Menu -->

        </div>
        <!-- Overlay screen for menu -->
        <div class="overlay-screen"></div>
        <!-- End Overlay screen for menu -->

    </nav>
    <!-- End Navigation -->
</header>