<div class="banner-area banner-style-six navigation-circle bg-dark text-light overflow-hidden bg-cover" style="background-image: url('/assets/img/shape/14.jpg');">
    <div class="banner-fade swiper">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="container">
                    <div class="content">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <h4>Şehrin En İyisi</h4>
                                <h2>Özel Öğle Yemeği Fırsatı</h2>
                                <p>
                                    Özenle hazırlanan lezzetlerimizle tanışın. Taptaze malzemeler ve usta ellerden çıkan nefis yemeklerimizle gününüze lezzet katın.
                                </p>
                                <div class="button mt-40">
                                    <a class="btn btn-theme btn-md animation" href="/Menu/Index">Şimdi Sipariş Ver</a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="thumb text-center">
                                    <img src="~/Foodu v1.7/source/assets/img/illustration/17.png" class="img-fluid" alt="Öğle Yemeği Görseli">
                                    <img src="~/Foodu v1.7/source/assets/img/shape/26.png" alt="Tasarım Şekli">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="container">
                    <div class="content">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <h4>Şehrin En İyisi</h4>
                                <h2>Özel Akşam Yemeği Fırsatı</h2>
                                <p>
                                    Sevdiklerinizle birlikte unutulmaz bir akşam yemeği deneyimi yaşayın. Şık atmosferimiz ve imza tabaklarımız sizi bekliyor.
                                </p>
                                <div class="button mt-40">
                                    <a class="btn btn-theme btn-md animation" href="/Menu/Index">Şimdi Sipariş Ver</a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="thumb text-center">
                                    <img src="~/Foodu v1.7/source/assets/img/illustration/8.png" class="img-fluid" alt="Akşam Yemeği Görseli">
                                    <img src="~/Foodu v1.7/source/assets/img/shape/26.png" alt="Tasarım Şekli">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="swiper-nav-left">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

    </div>
</div>