@model List<ResultCategoryDto>

<div class="food-cat-area default-padding bg-gray" style="background-image: url('/assets/img/shape/3.png');">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4 class="sub-title">Kategoriler</h4>
                    <h2 class="title split-text">Menümüzün En İyileri</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="food-cat-carousel text-light swiper">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model)
                        {
                            <div class="swiper-slide">
                                <div class="food-cat-item" style="height: 250px; border-radius: 10px; overflow: hidden;">
                                    <a href="#" style="background-image: url(); background-size: cover; background-position: center; height: 100%; display: block;">
                                        <h4>@item.CategoryName</h4>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>