@model CreateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Yeni Kategori Ekle</h1>
<br />
<br />
<form method="post">
    <div class="form-group">
        <label>Kategori Adı</label>
        <input type="text" asp-for="CategoryName" class="form-control" />
        <span class="text-danger" asp-validation-for="CategoryName"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-outline-dark">Kaydet</button>
</form>