@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/UILayout/Layout.cshtml"; 
}

@await Component.InvokeAsync("_DefaultBanner")
<div class="food-menu-style-two-area default-padding bg-cover" style="background-image: url(/assets/img/shape/3.jpg);">
    <div class="container">
        <div class="food-menu-style-two">
            <div class="row align-center">
                <div class="col-lg-5">
                    <div class="food-menu-style-two-thumb">
                        <img class="wow fadeInDown" src="/Foodu v1.7/source/assets/img/menu/7.jpg" alt="Image Not Found">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="food-menu-style-two-content wow fadeInUp">
                        <h4 class="sub-heading">Fast Food Items</h4>
                        <ul class="meal-type">
                            <li>Half</li>
                            <li>Full</li>
                        </ul>
                        <ul class="meal-items">
                            <li>
                                <div class="thumbnail">
                                    <img src="~/assets/img/food/1.jpg" alt="Image Not Found">
                                </div>
                                <div class="content">
                                    <div class="top">
                                        <div class="title">
                                            <h4><a href="shop-single.html">Chicken Alfredo</a></h4>
                                        </div>
                                        <div class="price">
                                            <span>$20</span>
                                            <span>$30</span>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <div class="left">
                                            <p>Ricotta / goat cheese / beetroot</p>
                                        </div>
                                        <div class="right">
                                            <p>Extra Free Juice.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Component.InvokeAsync("_DefaultAbout")
<div class="food-cat-area default-padding bg-gray" style="background-image: url(/assets/img/shape/3.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4 class="sub-title">Food Category</h4>
                    <h2 class="title split-text">Top category of our menus</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="food-cat-carousel text-light swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="food-cat-item">
                                <a href="#" style="background-image: url(/assets/img/category/1.jpg);">
                                    <h4>Fast food</h4>
                                    <span>80+ Items</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="choose-us-style-one-area default-padding-bottom bg-gray">
    <div class="container">
        <div class="choose-us-style-one-items">
            <div class="row align-center">
                <div class="col-xl-6 choose-us-style-one-info">
                    <h2 class="title split-text">Enjoy your favorite food to the fullest</h2>
                    <p class="split-text">
                        The first restaurant proprietor is believed to have been one A. Boulanger...
                    </p>
                    <a class="btn btn-theme btn-md animation mt-30" href="food-menu.html">Book A Table</a>
                </div>
                <div class="col-xl-6 text-light choose-us-style-one-content">
                    <div class="choose-us-style-one-item bg-cover bg-theme" style="background-image: url(/assets/img/shape/7.jpg);">
                        <div class="fun-fact-style-one text-center">
                            <div class="icon">
                                <img src="/Foodu v1.7/source/assets/img/icon/12.png" alt="Image Not Found">
                            </div>
                            <div class="counter">
                                <div class="timer" data-to="500" data-speed="2000">500</div>
                                <div class="operator">+</div>
                            </div>
                            <span class="medium">Menu and Dishes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>