@model CreateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateCategory</h1>
<form method="post">
    <label>Kategori Adı</label>
    <input type="text" asp-for="CategoryName" class=form-control required />
    <br />
    <button class="btn btn-outline-dark">Yeni Kategori Ekle</button>
</form>
