@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kategori Güncelleme Ekranı</h1>
<br />
<form method="post">
    <input type="hidden" asp-for="Id" />
    <label>Kategori Adı</label>
    <input type="text" asp-for="CategoryName" class=form-control required />
    <br />
    <button class="btn btn-outline-dark">Güncelle</button>
</form>
