@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/UILayout/Layout.cshtml";
}

<div class="breadcrumb-area bg-cover text-center text-light" style="background-image: url('/assets/img/shape/11.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>Hakkımızda</h1>
                <ul class="breadcrumb">
                    <li><a href="/Default/Index"><i class="fas fa-home"></i> Ana Sayfa</a></li>
                    <li>Hakkımızda</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="about-style-one-area default-padding">
    <div class="container">
        <div class="row align-center">
            <div class="col-lg-6">
                <div class="thumb-style-one">
                    <img class="wow fadeInUp" src="~/assets/img/about/1.jpg" alt="Image Not Found">
                    <div class="contact-card-one wow fadeInLeft" data-wow-delay="200ms">
                        <a href="tel:+905551234567">
                            <div class="icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="info">
                                <span>7/24 DESTEK</span>
                                <h4>+90 555 123 45 67</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="about-style-one-info">
                    <h4 class="sub-heading">Hikayemiz</h4>
                    <h2 class="title split-text">Yemek yapmayı keşfedene kadar hiçbir şeye gerçekten ilgi duymamıştım</h2>
                    <div class="content mt-50">
                        <p class="split-text">
                            İlk restoran sahibinin, 1765 yılında Paris'te işini açan bir çorbacı olan A. Boulanger olduğuna inanılır. Kapısının üzerindeki tabela, içeride bulunan çorba ve et sularına atıfta bulunarak onarıcılar veya restoranlar ilan ediyordu.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brand-area overflow-hidden default-padding bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="brand-heaidng mb-50">
                    <h3>DÜNYA ÇAPINDA 5 BİNDEN FAZLA MUTLU SPONSOR </h3>
                </div>
                <div class="brand-style-one-carousel swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="~/Foodu v1.7/source/assets/img/brand/1.png" alt="Thumb"></div>
                        <div class="swiper-slide"><img src="~/Foodu v1.7/source/assets/img/brand/2.png" alt="Thumb"></div>
                        <div class="swiper-slide"><img src="~/Foodu v1.7/source/assets/img/brand/3.png" alt="Thumb"></div>
                        <div class="swiper-slide"><img src="~/Foodu v1.7/source/assets/img/brand/4.png" alt="Thumb"></div>
                        <div class="swiper-slide"><img src="~/Foodu v1.7/source/assets/img/brand/5.png" alt="Thumb"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>