@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/UILayout/Layout.cshtml";
}

<div class="breadcrumb-area bg-cover text-center text-light" style="background-image: url('@Url.Content("~/Foodu v1.7/source/assets/img/shape/11.jpg")');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>Hakkımızda</h1>
                <ul class="breadcrumb justify-content-center">
                    <li><a href="/Default/Index" class="text-light"><i class="fas fa-home"></i> Ana Sayfa</a></li>
                    <li><span style="color:#ff6b6b; margin: 0 10px;">/</span> Hakkımızda</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="about-style-one-area default-padding">
    <div class="container">
        <div class="row align-center">
            <div class="col-lg-6">
                <div class="thumb-style-one">
                    <img class="wow fadeInUp img-fluid rounded" src="https://www.ecoleducasse.com/application/files/3316/8031/9508/The_role_of_food_plating_and_presentation_in_a_chefs_career.png" alt="Hakkımızda Görseli">

                    <div class="contact-card-one wow fadeInLeft" data-wow-delay="200ms">
                        <a href="tel:+905551234567">
                            <div class="icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="info">
                                <span>7/24 DESTEK</span>
                                <h4>+90 555 123 45 67</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 offset-lg-1">
                <div class="about-style-one-info">
                    <h4 class="sub-heading">Hikayemiz</h4>
                    <h2 class="title split-text">Gerçek lezzet, en taze malzemelerin samimiyetle buluştuğu noktada başlar.</h2>
                    <div class="content mt-50">
                        <p class="split-text">
                            Foodu yolculuğu, nesiller boyu aktarılan geleneksel tarifleri modern dokunuşlarla sofranıza taşıma hayaliyle başladı. Bizim için yemek yapmak sadece bir iş değil; toprağın bereketini, çiftçimizin emeğini ve Anadolu'nun binlerce yıllık lezzet mirasını her bir tabakta yeniden yaşatma sanatıdır.
                        </p>
                        <p class="split-text">
                            Her sabah yerel üreticilerden seçtiğimiz en taze ürünlerle mutfağımıza giriyoruz. Amacımız sadece karnınızı doyurmak değil, sevdiklerinizle paylaştığınız o unutulmaz anlara lezzetimizle eşlik etmek.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="brand-area overflow-hidden default-padding bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="brand-heaidng mb-50">
                    <h3>YEREL ÜRETİCİLERİMİZ VE GÜVENİLİR İŞ ORTAKLARIMIZ</h3>
                </div>
                <div class="brand-style-one-carousel swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="~/Foodu v1.7/source/assets/img/brand/1.png" alt="Thumb"></div>
                        <div class="swiper-slide"><img src="~/Foodu v1.7/source/assets/img/brand/2.png" alt="Thumb"></div>
                        <div class="swiper-slide"><img src="~/Foodu v1.7/source/assets/img/brand/3.png" alt="Thumb"></div>
                        <div class="swiper-slide"><img src="~/Foodu v1.7/source/assets/img/brand/4.png" alt="Thumb"></div>
                        <div class="swiper-slide"><img src="~/Foodu v1.7/source/assets/img/brand/5.png" alt="Thumb"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>